<% include ./partials/header  %>

<div class="container">
    

        <div class="section">
           
    <h1>Please log in!</h1>
    
   <form class="_form"   action="/login" method="POST">
    <input class="input" type="text" name="username" placeholder="Username">
       <input class="input" type="password" name="password" placeholder="Password">
       <button class="btn btn-primary">login</button>
    
</form>
    
      </div>
    </div>
</div>




<% include ./partials/footer  %>